In [4]:
import pandas as pd
import numpy as np
import random

## Overview of Statistical Learning

- __Statistical Learning__ refers to the set of tools to understand data
- __Supervised Learning__ involves building a model with inputs and defined outputs
- __Unsupervised Learning__ involces building a model with inputs, but no defined outputs

### Generate Example data: Wage Data

In [7]:
#create random ages from 20 - 80

np.random.rand(10)

array([0.54577741, 0.66298223, 0.10738041, 0.82779358, 0.87446404,
       0.43059774, 0.07103205, 0.36863401, 0.94809198, 0.60676323])

In [8]:
customers = [0,1,2,3]
prod1 = [1,1,1,1]
prod2 = [0,1,0,1]
prod3 = [0,0,1,1]

df = pd.DataFrame()
df['Customers'] = customers
df['A'] = prod1
df['B'] = prod2
df['C'] = prod3

df

   Customers  A  B  C
0          0  1  0  0
1          1  1  1  0
2          2  1  0  1
3          3  1  1  1

In [10]:
def retCol(x,colname):
    if x == 1:
        return (colname)
    else:
        return (0)

In [13]:
for column in ['A','B','C']:
    df[column] = df[column].apply(lambda x: retCol(x,column))

In [14]:
df

   Customers  A  B  C
0          0  A
1          1  A  B
2          2  A     C
3          3  A  B  C

In [16]:
df['A'] + df['B'] + df['C']

0      A
1     AB
2     AC
3    ABC
dtype: object